section{
    margin-top: 150px;
}

.narrow-select {
    width: 300px; /* Podesite željenu širinu */
    margin: 0 auto; /* Centriranje horizontalno */
  }

  .narrow-button {
    width: 300px; /* Podesite željenu širinu */
    margin: 20px auto; /* Centriranje horizontalno */
    display: flex; /* Omogućava centriranje vertikalno */
    justify-content: center; /* Centriranje horizontalno */
    align-items: center; /* Centriranje vertikalno */
  }
  
  