nav{
    margin-top: 100px;
    height: 50px;
    background-color: var(--navbar-footer-color);
    width: 100%;
}

.nav-link{
    text-transform: uppercase;
    color: var(--primary-color);
   
}

.nav-item{
    margin-right: 10px;
}

.profile-image {
    width: 40px; /* Prilagodite veličinu prema potrebi */
    height: 40px; /* Prilagodite veličinu prema potrebi */
    border-radius: 50%; /* Postavlja okrugli oblik */
  }

  .demo-section{
    margin-left: 50px;
    margin-right: 10px;
  }
  

