<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow-effect bg-secondary-theme">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="text-theme-primary">Change password</h2>
                        <div *ngIf="error" class="alert alert-danger">Something went wrong!</div>
                        <div *ngIf="success" class="alert alert-success">Password is updated</div>
                    </div>
                    <form [formGroup]="form">
                        <div class="input-wrapper">
                        <div class="form-group">
                            <label for="oldPassword">Old Password</label>
                            <input formControlName="oldPassword" type="password" class="form-control bg-secondary-theme" id="oldPassword" placeholder="Enter old password">
                            <div *ngIf="OldPassword?.touched && OldPassword?.invalid">
                                <p *ngIf="OldPassword?.errors?.['required']" class="errors">Old Password is required</p>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input formControlName="password" type="password" class="form-control bg-secondary-theme" id="password" placeholder="Password">
                            <div *ngIf="Password?.touched && Password?.invalid">
                                <p *ngIf="Password?.errors?.['required']" class="errors">Password is required</p>
                                <p *ngIf="Password?.errors?.['pattern']" class="errors">The password must contain at least one uppercase letter, at least one digit, and at least one special character (!@#$%^&*()).</p>
                            </div>
                           
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input formControlName="confirmPassword" type="password" class="form-control bg-secondary-theme" id="confirmPassword" placeholder="Confirm password">
                            <div *ngIf="ConfirmPassword?.touched && ConfirmPassword?.invalid">
                                <p *ngIf="ConfirmPassword?.errors?.['required']" class="errors">Confirm Password is required</p>
                                <p *ngIf="ConfirmPassword?.errors?.['matchPassword']" class="errors">Passwords do not match</p>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-primary btn-block btn-theme" [disabled]="!form.valid"  (click)="change()"> Login </button>
                        <br>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<br>