<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-5 shadow-effect bg-secondary-theme">
                <div class="card-body">
                    <div class="text-center">
                        <h2 class="text-theme-primary">Reset your password</h2>
                        <p>Please enter your informations to reset password</p>
                        <div *ngIf="error" class="alert alert-danger">Something went wrong!</div>
                    </div>
                    <form [formGroup]="form">
                       
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input formControlName="password" type="password" class="form-control bg-secondary-theme" id="password" placeholder="Password">
                            <div *ngIf="Password?.touched && Password?.invalid">
                                <p *ngIf="Password?.errors?.['required']" class="errors">Password is required</p>
                                <p *ngIf="Password?.errors?.['pattern']" class="errors">The password must contain at least one uppercase letter, at least one digit, and at least one special character (!@#$%^&*()).</p>
                            </div>
                            <!-- <a routerLink="/resset-password">
                                <small id="reset-password" class="form-text text-muted">Forgot password?</small>
                            </a> -->
                        </div>
                        <br>
                        <div class="form-group">
                            <label for="confirmPassword">Confirm Password</label>
                            <input formControlName="confirmPassword" type="password" class="form-control bg-secondary-theme" id="confirmPassword" placeholder="Confirm password">
                            <div *ngIf="ConfirmPassword?.touched && ConfirmPassword?.invalid">
                                <p *ngIf="ConfirmPassword?.errors?.['required']" class="errors">Confirm Password is required</p>
                                <p *ngIf="ConfirmPassword?.errors?.['matchPassword']" class="errors">Passwords do not match</p>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-primary btn-block btn-theme" [disabled]="!form.valid" (click)="reset()"> Reset password </button>
                        <br>
                        <!-- <a routerLink="/login">
                            <p>Login</p>
                        </a> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
<br>