section{
    margin-top: 150px;
}
.img{
    height: 100px;
}

.tabela-container {
    max-width: 700px; /* Prilagodite širinu prema potrebama */
    margin: 100px auto; /* Centriranje na ekranu */
  }