<h2 mat-dialog-title>Add Warehouse</h2>
<mat-dialog-content>
  <form [formGroup]="warehouseForm" (ngSubmit)="onConfirm()">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Size</mat-label>
      <input type="number" matInput formControlName="size" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" type="submit" [disabled]="!warehouseForm.valid" (click)="onConfirm()">Confirm</button>
</mat-dialog-actions>
