<div class="section p-5">
    <div class="container ">
        <h1 class="text-white">{{catalog.name}}</h1>
    </div>
</div>
<div class="container">
    <br>
    <h1 class="text-center">Dostupni dekori</h1>
    <mat-chip-listbox aria-label="Fish selection" [(ngModel)]="selectedDecorations">
        <mat-chip-option value="Wedding" (click)="sendRequest()">Wedding</mat-chip-option>
        <mat-chip-option value="Engagement" (click)="sendRequest()">Engagement</mat-chip-option>
        <mat-chip-option value="Birthday" (click)="sendRequest()" color="accent">Birthday</mat-chip-option>
        <mat-chip-option value="Cars" (click)="sendRequest()" color="warn">Cars</mat-chip-option>
        <mat-chip-option value="House" (click)="sendRequest()" color="warn">House</mat-chip-option>
      </mat-chip-listbox>
      <br>
      <button mat-mini-fab color="primary" *ngIf="userService.isManager()" (click)="openDialog()" aria-label="Example icon button with a plus one icon">
          <mat-icon>plus_one</mat-icon>
        </button>
    <div class="row justify-content-center">
        <div *ngIf="decors.length == 0">
            <p class="row justify-content-center">Catalog is empty</p>
        </div>
            <div class="col-lg-3" *ngFor="let s of decors">
                <div (click)="openDecor(s.id)">
                    <br>
                <mat-card >
                    <mat-card-header>
                        <mat-card-title>{{s.name}}</mat-card-title>
                    </mat-card-header>
                    <img [src]="'' + s.image" alt="Slika">
                    <br>
                    <mat-card-content>
                        <p>Cena: {{s.price}} <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="euro" class="icon"></mat-icon>
                    </mat-card-content>
                </mat-card>
                <br>
                <br>
            </div>
        </div>
    </div>