img{
    height: 40px;
}

footer {
    height: 130px;
    padding: 15px;
    background-color:  var(--navbar-footer-color);
    /* margin-top: 50vh; */
    width: 100%;
}

.nav-link{
    color: var(--primary-color);
}