<p>edit-decor works!</p>
<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <h1 class="text-theme-primary">Update Decor</h1>
      </div>
    </div>
    <form [formGroup]="form">
        <div *ngIf="error" class="alert alert-danger">Doslo je do greske!</div>
      <div class="row">
        <div class="col-md-7">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Decor Name</label>
                <input formControlName="name" type="text" class="form-control" id="name" placeholder="Enter Decor Name">
                <div *ngIf="Name?.touched && Name?.invalid">
                  <p *ngIf="Name?.errors?.['required']" class="errors">Name is required</p>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="name">Price</label>
                <input formControlName="price" type="number" class="form-control" id="name" placeholder="Enter Decor Price">
                <div *ngIf="Price?.touched && Price?.invalid">
                  <p *ngIf="Price?.errors?.['required']" class="errors">Price is required</p>
                </div>
              </div>
              <br>
              <div class="form-group">
                <label for="name">Description</label>
                <textarea formControlName="description" cols="20" rows="5" class="form-control" placeholder="Enter Decor Description"></textarea>
                <div *ngIf="Description?.touched && Description?.invalid">
                  <p *ngIf="Description?.errors?.['required']" class="errors">Description is required</p>
                  </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label>Select Type:</label>
                <select formControlName="type" class="form-control" id="type">
                  <option value="Wedding">Wedding</option>
                  <option value="Engagement">Engagement</option>
                  <option value="Birthday">Birthday</option>
                  <option value="Other">Other</option>
                </select>
              </div>
              <br>
              <div class="form-group">
                <label for="name">Upload Image</label>
                <input formControlName="image" type="file" class="form-control" id="imageInput" placeholder="Enter Decor Name" (change)="onImageSelected($event)">
              </div>
              <br>
              <button class="btn btn-primary btn-block btn-theme" [disabled]="!form.valid" (click)="updateDecor()"> Update Decor </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <br>
  </div>
  