<div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <br>
        <h1 class="text-theme-primary">Add New Decor</h1>
      </div>
    </div>
    <form>
      <div class="row">
        <div class="col-md-7">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label for="name">Decor Name</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Decor Name">
              </div>
              <div class="form-group">
                <label for="name">Price</label>
                <input type="number" class="form-control" id="name" placeholder="Enter Decor Price">
              </div>
              <div class="form-group">
                <label for="name">Description</label>
                <textarea cols="20" rows="5" class="form-control"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="card shadow-effect">
            <div class="card-body">
              <div class="form-group">
                <label>Select Type:</label>
                <select class="form-control">
                  <option>Wedding</option>
                  <option>Engagement</option>
                  <option>Birthday</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="form-group">
                <label for="name">Upload Image</label>
                <input type="file" class="form-control" id="name" placeholder="Enter Decor Name">
              </div>
              <br>
              <button class="btn btn-primary btn-block btn-theme" > Add Decor </button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <br>
    <br>
  </div>
  