<section *ngIf="userService.isEmployee()">
    <div class="col-md-12 text-center">
        <br>
        <h1 class="text-theme-primary">Your reservations</h1>
    </div>
    <br>
    <p class="row justify-content-center" *ngIf="decors.length === 0">You dont have any reservations</p>
      <div class="tabela-container">
          <table mat-table [dataSource]="decors">
              
              <ng-container matColumnDef="naziv">
                  <th mat-header-cell *matHeaderCellDef>Naziv</th>
                  <td mat-cell *matCellDef="let decor">{{ decor.name }}</td>
      </ng-container>
    <ng-container matColumnDef="cena">
        <th mat-header-cell *matHeaderCellDef>Cena</th>
        <td mat-cell *matCellDef="let decor">{{ decor.price}}</td>
    </ng-container>
    <ng-container matColumnDef="tip">
        <th mat-header-cell *matHeaderCellDef>Tip</th>
        <td mat-cell *matCellDef="let decor">{{ decor.type}}</td>
    </ng-container>
    <ng-container matColumnDef="slika">
        <th mat-header-cell *matHeaderCellDef>Slika</th>
        <td mat-cell *matCellDef="let decor"><img class="img" [src]='decor.image'></td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>
</section>
<section *ngIf="userService.isCustomer()">
    <div class="col-md-12 text-center">
      <br>
      <h1 class="text-theme-primary">Your reservations</h1>
    </div>
    <br>
    <p class="row justify-content-center" *ngIf="decors.length === 0">You dont have any reservations</p>
    <div class="tabela-container">
      <table mat-table [dataSource]="decors">
  
        <ng-container matColumnDef="naziv">
          <th mat-header-cell *matHeaderCellDef>Naziv</th>
          <td mat-cell *matCellDef="let decorReservation">{{ decorReservation.decor.name }}</td>
        </ng-container>
  
        <ng-container matColumnDef="cena">
          <th mat-header-cell *matHeaderCellDef>Cena</th>
          <td mat-cell *matCellDef="let decorReservation">{{ decorReservation.decor.price }}</td>
        </ng-container>
  
        <ng-container matColumnDef="tip">
          <th mat-header-cell *matHeaderCellDef>Tip</th>
          <td mat-cell *matCellDef="let decorReservation">{{ decorReservation.decor.type }}</td>
        </ng-container>
  
        <ng-container matColumnDef="slika">
          <th mat-header-cell *matHeaderCellDef>Slika</th>
          <td mat-cell *matCellDef="let decorReservation"><img class="img" [src]='decorReservation.decor.image'></td>
        </ng-container>
  
        <ng-container matColumnDef="termin">
          <th mat-header-cell *matHeaderCellDef>Termin</th>
          <td mat-cell *matCellDef="let decorReservation">
            <ng-container *ngFor="let appointment of decorReservation.appointments">
              {{ appointment.dateTime | date: 'dd-MM-yyyy' }}<br>
            </ng-container>
          </td>
        </ng-container>
        
        <ng-container matColumnDef="dugme">
          <th mat-header-cell *matHeaderCellDef>Akcije</th>
          <td mat-cell *matCellDef="let decorReservation">
            <button mat-button (click)="handleButtonClick(decorReservation.res.reservationId)">Otkazi Rezervaciju</button>
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let decorReservation; index as i; columns: displayedColumns3;"></tr>
      </table>
    </div>
  </section>
  
<section *ngIf="userService.isManager()">
    <div class="col-md-12 text-center">
        <br>
        <h1 class="text-theme-primary">Your reservations</h1>
      </div>
      <br>
      <div class="tabela-container">
        <p class="row justify-content-center" *ngIf="decors.length === 0">You dont have any reservations</p>
          <table mat-table [dataSource]="decors">
              
              <ng-container matColumnDef="naziv">
                  <th mat-header-cell *matHeaderCellDef>Naziv</th>
                  <td mat-cell *matCellDef="let decor">{{ decor.decor.name }}</td>
      </ng-container>
    <ng-container matColumnDef="cena">
        <th mat-header-cell *matHeaderCellDef>Cena</th>
        <td mat-cell *matCellDef="let decor">{{ decor.decor.price}}</td>
    </ng-container>
    <ng-container matColumnDef="tip">
        <th mat-header-cell *matHeaderCellDef>Tip</th>
        <td mat-cell *matCellDef="let decor">{{ decor.decor.type}}</td>
    </ng-container>
    <ng-container matColumnDef="slika">
        <th mat-header-cell *matHeaderCellDef>Slika</th>
        <td mat-cell *matCellDef="let decor"><img class="img" [src]='decor.decor.image'></td>
    </ng-container>

    <ng-container matColumnDef="termin">
        <th mat-header-cell *matHeaderCellDef>Termin</th>
        <td mat-cell *matCellDef="let decor">
          <ng-container *ngFor="let appointment of appointments">
            {{ appointment.dateTime | date: 'dd-MM-yyyy' }}
          </ng-container>
        </td>
      </ng-container>
      
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>
</div>
</section>
